extends layout

block content

  img.bg(src='../images/userprofile.jpg', alt='userprofile')
  
  .row
    .user-info
      h3.sub_cap=user[0].full_name
      h3.sub_cap_sec=user[0].email
    table.user-table
      thead.trans8
        tr
          th(width='200') Search Address
          th(width='100') Community Score
          th(width='100') Accessibility Score
          th(width='100') Environment Score
          th(width='100') Safety Score
          th(width='100') Date Searched
          th(width='100') Go to Result
          th(width='100') Delete
      tbody.trans6      
        for search in searches
          tr
            td=search.address
            td.score-num=search.community
            td.score-num=search.accessablility
            td.score-num=search.environment
            td.score-num=search.safety
            td=search.date_time
            td
              form(action = '/', method = 'post')
                input(name='userInput', type='hidden', value=search.address)
                button.success.reg(type='submit', value='search') Result
            td
              a.alert.button.reg(href='/user/' + user[0].id + '/delete/' + search.id) Delete
